body {
	font-family:Helvetica,Arial,'DejaVu Sans','Liberation Sans',Freesans,sans-serif;
	font-size:12px;
	letter-spacing:.05em;
	}
	
img {max-width:100%;}

p {
	letter-spacing:.1em;
	line-height:16px;
	}
	
a {
	text-decoration:none;
	color: #549768;
	}
	
h1, .moduletable h3 {
	font-family: 'Times New Roman', Times, serif;
	letter-spacing:.1em;
	font-size:18px;
	font-style: bold;
	margin-bottom:20px;	
	color:#549768;
	background: url('../images/bullet.png') top left no-repeat;
}

h1 span, .moduletable h3 span {
	display: inline-block;
	*display: inline;
	zoom: 1;
	background: url('../images/bullet.png') top right no-repeat;
	padding: 0 30px 10px;
	border-bottom: 1px solid #549768;
}

#component img {
	border: 2px solid #549768;
	margin: 10px 30px 20px 0 ;
	}

#component p {
	margin:0;
}
	
#footer p {
	padding: 10px 0 20px 0;
	font-size:10px;
}
	
#footer a {
	color: black;
}