/*Main Menu*/

#nav ul.menu {
	font-family: 'Times New Roman', Times, serif;
	list-style: none;
	margin: 0 auto 0 35px;
	padding: 0;
	font-size: 16px;
	line-height: 43px;
	text-align: center;	
	position:relative;
	background: url('../images/menubreak.png') right no-repeat;
	left:-38px;
	width:980px;
}

#nav ul.menu li {
	background: url('../images/menubreak.png') left center no-repeat;
	padding-left:14px;
	display: inline-block;
	*display: inline;
	zoom: 1;
	padding: 0 20px; /* TODO Check in IE */
}

#nav ul.menu li.item-119, #nav ul.menu li.item-113 {
	background: none;
}

#nav ul.menu a {
	display: block;
	text-decoration: none;
	color: white;
	padding-top:10px;
	padding-bottom:10px;
}

#navcontainer {
	z-index: 2;
	position: relative;
}

#navcontainer li {
	vertical-align: middle;
}


#navcontainer .image {
	display: block;
	width: 273px;
}

#navcontainer .image img {
	position: absolute;
	left: 50%;
	margin-left:-140px;
	top: -90px;
}

#navcontainer .image span { display:none; } /* TODO Fix this for blind people */

#navcontainer ul li:first-child a {
	margin-left:0;
}

#navcontainer ul li a:hover {
	background: url('../images/nav_rollover.png') center top no-repeat;
}

/* @end */


/*events*/

.moduletable.events {
	border-bottom: 1px solid #e9e9e9;
}


.moduletable.events a {
	color: #549768;
}
/* @end */

/*footer menu*/
#footer ul.menu {
	list-style: none;
	margin: 0 auto;
	font-size: 10px;
	line-height: 10px;
	padding: 0 0 10px 0;
	border-bottom: 1px solid #549768;
	
}

#footer ul.menu li {
	display: inline-block;
	*display: inline;
	zoom: 1;

	margin-left: 6px;
	padding-left: 8px;
}

#footer ul.menu li:first-child {
	margin-left: 0;
	padding-left: 0;
}

#footer ul.menu a {
	display: block;
	text-decoration: none;
	color: black;
}

#footer ul li { 
	border-left: 1px solid #000;
}

#footer li:first-child {
	border:none;
}

#footer ul li a:hover {
	color:#549768;
}
/* @end */


#nav .moduletable_menu {
	position: absolute;
	bottom: 0;
	left: 0;
}

