/* layout */
.container {
	position: relative;
	width: 960px;
	padding: 0 10px;
	margin: 0 auto;
}
#nav .container {height: 120px;}

#nav {background: url('../images/nav_bg.png') bottom center repeat-x;}