/* layout */
.container {
	position: relative;
	width: 940px;
	padding: 0 10px;
	margin: 0 auto;
}
#nav .container {height: 140px;}

#nav {background: #ffffff url('../images/nav_bg.png') bottom center repeat-x;}

#header {background: url('../images/bg_headerInner.jpg') top center repeat-x; height: 93px;}
.home #header {background: url('../images/bg_header.jpg') top center repeat-x; height: 248px;}

#body {
	background: #ffffff;
	padding: 30px 0;
}
