/* @group modules */
.moduletable {}

/* @group hmenu */
.moduletable_hmenu.primary {
	font-family: 'Times New Roman', Times, serif;
	font-size: 14px;
	font-weight: bold;
	margin-top: 80px;
	position: relative;
}

.moduletable_hmenu.primary > ul {
	background: url('../images/menubreak.png') right center no-repeat;
	position: relative;
	top: -64px;
	
	line-height: 64px;
 	margin: 0;
	padding: 0;
	text-align: center;
}

.moduletable_hmenu.primary > ul > li:first-child {top: 0px; background: none;}
.moduletable_hmenu.primary > ul > li:first-child span {display: none;}
.moduletable_hmenu.primary > ul > li:first-child img {position:relative; top: -10px;}
.moduletable_hmenu.primary > ul > li {
	display: inline-block;
	*display: inline;
	*zoom: 1;
	position: relative;
	top: -64px;
	
	padding: 0;
	background: url('../images/menubreak.png') left center no-repeat;
	position:relative;
}

.moduletable_hmenu.primary > ul > li a {
	color: #ffffff;
	line-height: 64px; 
	padding: 13px 17px;
}
	
.moduletable_hmenu.primary > ul > li a:hover {
	background: url('../images/nav_rollover.png') top center repeat-x;
	text-decoration: none;
}