/* styles */
.clr, .clear { clear: both; }
.left { float: left; }
.right { float: right; }

.hidden { display: none; }

/* These selection declarations have to be separate
   No text-shadow: twitter.com/miketaylr/status/12228805301
   Also: hot pink! */
/* TODO Update selection BG color */
::-moz-selection{ background: #549768; color:#fff; text-shadow: none; }
::selection { background:#549768; color:#fff; text-shadow: none; }

ul.list-style {
	float: left;
	width: 20%;
	list-style-position:inside;
	padding-left: 0;
}

.list-style li {
	background: url('../images/ul_bullet.png') no-repeat left center;
	padding: 0 0 0 15px;
	list-style: none;
	line-height: 2em;
}